html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
    overflow-x: hidden;
}

.nav {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.4);
}

#logo-nav {
    border-radius: 0px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

#ref {
    font-size: large;
    font-family: alata;
    border-radius: 10px;
}

#ref-sidenav {
    font-size: large;
    font-family: alata;
    align-content: center;
    height: auto;
}

#mobile-demo {
    background-color: #fff;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#img {
    width: 40%;
    max-width: 600px;
    height: auto;
    -webkit-box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.75);

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



#ciclo {
    width: 40%;
}

#contacto-content {
    width: 30%;
}



#carta {
    min-width: 250px;
    max-width: 30%;
    margin: 1%;
    background-color: #279bc8;
}

#formas {
    min-width: 250px;
    width: 20%;
    margin-left: 50px;
}

#formas p {
    width: 230px;
}


#porque-elegirnos .card {
    width: 250px;
    margin: 20px;
    background-color: #279bc8;
    color: white;
}

.card-image img {
    height: 200px;
}

#porque-elegirnos p {
    font-family: alata;
    font-size: large;
    width: 60%;
}







footer {
    background-color: black;
    margin-top: 20px;
}

footer .container {
    background-color: black;
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

footer .fa {
    font-size: 250%;
    color: rgb(128, 128, 128);
    margin-top: 15px;
}

footer .container p {
    font-family: monospace;
    font-weight: 900;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    #img {
        width: 60%;
    }

    #ciclo {
        width: 70%;
    }

    #contacto-content {
        width: 60%;
    }

}

@media (max-width: 750px) {
    #porque-elegirnos p {
        width: 100%;
    }

}

@media (max-width: 600px) {
    #img {
        width: 80%;
    }

    #ciclo {
        width: 100%;
    }

    #contacto-content {
        width: 100%;
    }


}

@media (max-width: 400px) {
    #formas {
        margin-left: 0px;
    }

    #formas p {
        margin-left: 0px;
    }

    #porque-elegirnos .card {
        margin: 0px;
        margin-top: 10%;
        margin-left: -9%;
    }

    #logo-nav {
        height: 60px;
    }
}

@media (max-width: 300px) {

    #porque-elegirnos h4,
    p {
        margin-left: -9%;
    }
}